<config>
    <modules>
        <Ccc_Hulk>
            <version>0.1.1</version>
        </Ccc_Hulk>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_hulk>Ccc_Hulk_Adminhtml</ccc_hulk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hulk>
                    <file>hulk.xml</file>
                </hulk>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <hulk>
                <class>Ccc_Hulk_Model</class>
                <resourceModel>hulk_resource</resourceModel>
            </hulk>

            <hulk_resource>
                <class>Ccc_Hulk_Model_Resource</class>
                <entities>
                    <hulk>
                        <table>hulk</table>
                    </hulk>
                    <hulk_datetime>
                        <table>hulk_datetime</table>
                    </hulk_datetime>
                    <hulk_decimal>
                        <table>hulk_decimal</table>
                    </hulk_decimal>
                    <hulk_int>
                        <table>hulk_int</table>
                    </hulk_int>
                    <hulk_text>
                        <table>hulk_text</table>
                    </hulk_text>
                    <hulk_varchar>
                        <table>hulk_varchar</table>
                    </hulk_varchar>
                    <hulk_char>
                        <table>hulk_char</table>
                    </hulk_char>
                    <eav_attribute>
                        <table>hulk_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </hulk_resource>
        </models>

        <resources>
            <hulk_setup>
                <setup>
                    <module>Ccc_Hulk</module>
                    <class>Ccc_Hulk_Model_Resource_Setup</class>
                </setup>
            </hulk_setup>
        </resources>

        <helpers>
            <hulk>
                <class>Ccc_Hulk_Helper</class>
            </hulk>
        </helpers>

        <blocks>
            <hulk>
                <class>Ccc_Hulk_Block</class>
            </hulk>
        </blocks>

    </global>
</config>